<%include ./partials/header %>

<div class="ui container">
    <div class="ui container">
        <h1>Blog Posts</h1>        
    </div>
    <% blogs.forEach(function(blog){%>
    <div class="ui main text container segment">
        <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached ">
            <div class="item">
                <img class="ui centered rounded image" src="<%=blog.image%>">        
                <div class="content">
                    <span><%=blog.created.toDateString()%></span>        
                </div>
                <div class="description">
                    <p> <%= blog.body.substring(0,100) %></p>        
                    <!-- if this was <%- %> people would be able to insert java script or html text-->
                </div>
                <a href="/blogs/<%= blog._id %>">Read More</a>
                
            </div>    
        
        </div>
    </div>


<% }) %>
</div>




<%include ./partials/footer %>


